*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(48, 47, 47);
    color: honeydew;
    text-align: center;
    line-height: 1.9em;
    padding-top: 100px;
}
img{
    padding-left:20px;
    padding-top: 20px;
}
h1{
    font-size: 50px;
    color: khaki;
    margin-bottom: 20px;
}
.player1{
    margin-left: -400px;
    

}
.player2{
    margin-left: 200px;
    /* margin-top: -100px; */
    

}
.myButton {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:18px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:19px 38px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    display: flex;
    margin: 20px auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}